/* 메인 */
.mainBGArea{color: white;}
.mainBGArea section{height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.mainBGArea section:nth-of-type(1){background-image: url('../images/mainBG_01.png');}
.mainBGArea section:nth-of-type(2){background-image: url('../images/mainBG_02.png');}
.mainBGArea section:nth-of-type(3){background-image: url('../images/mainBG_03.png');}
.mainBGArea section h2{font-size: 67px; font-weight: 400; text-transform: uppercase; margin-bottom: 40px;}
.mainBGArea section p{font-size: 24px; font-weight: 300;}
.mainBGArea .scrollIcon{position: fixed; left: calc(50% - 22.5px); bottom: 25.92592592592593vh; width: 45px; font-size: 12px; font-weight: 400; }
.mainBGArea .scrollIcon::before{content: ''; display: block; width: 20px; height: 34px; margin: 0 auto 15px; border: 1px solid white; border-radius: 8px;}
.mainBGArea .scrollIcon::after{content: ''; position: absolute; left: calc(50% - 1px); top: 10px; width: 2px; height: 4px; background-color: white;}
.mainBGArea .mainScrollNavArea{position: fixed; left: 0; bottom: 50px; width: 100%;}
.mainBGArea .mainScrollNavArea ul{display: flex;}
.mainBGArea .mainScrollNavArea ul li{font-size: 18px; font-weight: 700; color: rgba(255, 255, 255, 0.4); text-transform: uppercase;}
.mainBGArea .mainScrollNavArea ul li:not(:last-child){margin-right: 80px;}
.mainBGArea .mainScrollNavArea ul li.active{ color: white; position: relative;}
.mainBGArea .mainScrollNavArea ul li.active::after{content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 3px; background-color: #8fcc00;}

.mainMenuArea{padding: 70px;}
.mainMenuArea ul::after{content: ''; display: block; clear: both;}
.mainMenuArea ul{height: 900px;}
.mainMenuArea ul li:not(:last-child){width: calc((100% - 30px) / 4);}
.mainMenuArea ul li:nth-child(-n + 2){float: left; height: 100%;}
.mainMenuArea ul li:nth-child(n + 3){float: right; height: calc((100% - 10px) / 2);}
.mainMenuArea ul li:last-child{width: calc(50% - 5px); margin-top: 10px;}
.mainMenuArea ul li:not(:first-child){margin-left: 10px;}
.mainMenuArea ul li a{display: block; height: 100%; padding: 85px 50px; background-repeat: no-repeat; background-position: center; background-size: cover; box-sizing: border-box;}
.mainMenuArea ul li:nth-child(1) a{background-image: url('../images/mainMenu_01.png');}
.mainMenuArea ul li:nth-child(2) a{background-image: url('../images/mainMenu_02.png');}
.mainMenuArea ul li:nth-child(3) a{background-image: url('../images/mainMenu_03.png');}
.mainMenuArea ul li:nth-child(4) a{background-image: url('../images/mainMenu_04.png');}
.mainMenuArea ul li:nth-child(5) a{background-image: url('../images/mainMenu_05.png');}
.mainMenuArea ul li a *{display: block;}
.mainMenuArea ul li a strong{ max-width: 215px; font-size: 43px; font-weight: 800; color: white; line-height: 48px;}
.mainMenuArea ul li a strong small{font-size: 23px; font-weight: 300;}