.contactLink{position: fixed; right: 10px; bottom: 0; width: 160px; height: 120px; font-size: 15px; font-weight: 400; color: white; display: flex; justify-content: center; align-items: center; background-color: #8fcc00; z-index: 10;}
.contactLink::before{content: ''; width: 21px; height: 23px; background: url('../images/contactIcon.png') no-repeat center / cover; margin-right: 12px;}


/* 스크롤 페이지 */
.scrollArea{overflow-y: auto; width: calc(100% + 10px); height: 100vh;}
/* 제품 스크롤 */
.scrollPage .productArea{padding-top: 0;}
.productArea .scrollArea{ padding-top: 120px;}



/* 메인 */
.mainBGArea{color: white;}
.mainBGArea section{height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.mainBGArea section:nth-of-type(1){background-image: url('../images/mainBG_01.png');}
.mainBGArea section:nth-of-type(2){background-image: url('../images/mainBG_02.png');}
.mainBGArea section:nth-of-type(3){background-image: url('../images/mainBG_03.png');}
.mainBGArea section h2{font-size: 67px; font-weight: 400; text-transform: uppercase; margin-bottom: 40px;}
.mainBGArea section p{font-size: 24px; font-weight: 300;}
.scrollIcon{position: fixed; left: calc(50% - 22.5px); bottom: 25.92592592592593vh; width: 45px; font-size: 12px; color: white; font-weight: 400;  }
.scrollIcon::before{content: ''; display: block; width: 20px; height: 34px; margin: 0 auto 15px; border: 1px solid white; border-radius: 8px;}
.scrollIcon::after{content: ''; position: absolute; left: calc(50% - 1px); top: 10px; width: 2px; height: 4px; background-color: white; 
    animation-name: scrollIcon;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes scrollIcon {
    0%{top:10px;}
    100%{top: 15px;}
}
.mainBGArea .mainScrollNavArea{position: fixed; left: 0; bottom: 50px; width: 100%;}
.mainBGArea .mainScrollNavArea ul{display: flex;}
.mainBGArea .mainScrollNavArea ul li{font-size: 18px; font-weight: 700; color: rgba(255, 255, 255, 0.4); text-transform: uppercase;}
.mainBGArea .mainScrollNavArea ul li:not(:last-child){margin-right: 80px;}
.mainBGArea .mainScrollNavArea ul li.active{ color: white; position: relative;}
.mainBGArea .mainScrollNavArea ul li.active::after{content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 3px; background-color: #8fcc00;
    animation-name: scrollNav;
    animation-duration: 0.8s;
}
@keyframes scrollNav {
    0%{width: 0; left: 50%;}
    100%{width: 100%; left: 0;}
}

.mainMenuArea{overflow-y: auto; width: calc(100% + 10px); height: 100vh;}
.mainMenuArea > div{padding: 130px 0 70px;}
.mainMenuArea > div ul::after{content: ''; display: block; clear: both;}
.mainMenuArea > div ul{height: 900px;}
.mainMenuArea > div ul li:not(:last-child){width: calc((100% - 30px) / 4);}
.mainMenuArea > div ul li:nth-child(-n + 2){float: left; height: 100%;}
.mainMenuArea > div ul li:nth-child(n + 3){float: right; height: calc((100% - 10px) / 2);}
.mainMenuArea > div ul li:last-child{width: calc(50% - 5px); margin-top: 10px;}
.mainMenuArea > div ul li:not(:first-child){margin-left: 10px;}
.mainMenuArea > div ul li a{display: block; height: 100%; padding: 85px 50px; background-repeat: no-repeat; background-position: center; background-size: cover; box-sizing: border-box;}
.mainMenuArea > div ul li:nth-child(1) a{background-image: url('../images/mainMenu_01.png');}
.mainMenuArea > div ul li:nth-child(2) a{background-image: url('../images/mainMenu_02.png');}
.mainMenuArea > div ul li:nth-child(3) a{background-image: url('../images/mainMenu_03.png');}
.mainMenuArea > div ul li:nth-child(4) a{background-image: url('../images/mainMenu_04.png');}
.mainMenuArea > div ul li:nth-child(5) a{background-image: url('../images/mainMenu_05.png');}
.mainMenuArea > div ul li a *{display: block;}
.mainMenuArea > div ul li a strong{ max-width: 215px; font-size: 43px; font-weight: 800; color: white; line-height: 48px;}
.mainMenuArea > div ul li a strong small{font-size: 23px; font-weight: 300;}


/* 서브 페이지 */
/* 서브 페이지 공통 */
.aboutUsArea{}

/* 서브 페이지 타이틀 공통 */
.subPage{padding-top: 120px;}
.subPage .subPageTitle{padding: 200px 0; color: white; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-size: cover; box-sizing: border-box;}
.subPage .subPageTitle h2{font-size: 50px; font-weight: 700;}
.subPage .subPageTitle h2 b{display: block; font-size: 28px; margin-bottom: 40px;}
.subPage .subPageTitle p{font-size: 24px; font-weight: 300; line-height: 48px; margin-top: 90px;}
.subPage .subMenuArea{display: flex; justify-content: center; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
.subPage .subMenuArea li{}
.subPage .subMenuArea li:not(:last-child){margin-right: 100px;}
.subPage .subMenuArea li a{display: block; font-size: 30px; font-weight: 700;  opacity: 0.5; padding: 35px 0; position: relative;}
.subPage .subMenuArea li.active a{opacity: 1;}
.subPage .subMenuArea li.active a::after{content: ''; position: absolute; left: 0; bottom: -2px; width: 100%; height: 4px; background-color: #8fcc00;}
.subPage section{padding: 110px 0 140px;}
/* 서브 페이지 서브 타이틀 공통 */
.subPage section .subTitle{text-align: center; margin-bottom: 30px;}
.subPage section .subTitle h3{font-size: 60px; font-weight: 700; margin-bottom: 80px;}
.subPage section .subTitle p{font-size: 23px; font-weight: 500; line-height: 36px; margin-bottom: 30px;}
.subPage section .subTitle::after{content: '';display: block; width: 4px; height: 25px; background-color: black; transform: rotate(30deg); margin: 0 auto;}
.subPage section > strong{display: block; font-size: 36px; font-weight: 700; text-align: center; margin:80px 0 50px;}
.subPage section > p{font-size: 22px; font-weight: 300; line-height: 36px; text-align: center;}
.subPage section > p:not(:last-of-type){margin-bottom: 50px;}

/* 서브 페이지 컨텐츠 공통 */
.subContents{margin-top: 100px;}

/* 서브페이지 - 회사 소개 공통 */
.aboutUsArea .subPageTitle{background-image: url('../images/aboutUsBG.png');}

/* 서브 페이지 - 제품 소개 공통 */
.productArea .subPageTitle{background-image: url('../images/productBG.png');}
.productArea .subPageTitle{height: 100vh;}

