@media screen and (max-width:1279px) {
     /* 서브 페이지 */
    /* 서브 페이지 공통 */

    /* 서브 페이지 타이틀 공통 */
    .subPage{padding-top: 100px;}
    .subPage .subPageTitle{padding: 200px 0; color: white; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-size: cover; box-sizing: border-box;}
    .subPage .subPageTitle h2{font-size: 50px; font-weight: 700;}
    .subPage .subPageTitle h2 b{display: block; font-size: 28px; margin-bottom: 40px;}
    .subPage .subPageTitle p{font-size: 24px; font-weight: 300; line-height: 48px; margin-top: 90px;}
    .subPage .subMenuArea{display: flex; justify-content: center; position: relative;}
    .subPage .subMenuArea::after{content: ''; position: absolute; width: 100%; height: 1px; background-color: rgba(0, 0, 0, 0.2); left: 0; bottom: 2px;}
    .subPage .subMenuArea ul{display: flex; justify-content: flex-start; overflow: auto; position: relative;}
    .subPage .subMenuArea ul li{padding: 0 35px; text-align: center;}
    .subPage .subMenuArea ul li a{display: block; font-size: 30px; font-weight: 700;  opacity: 0.5; padding: 35px 0; white-space: nowrap; position: relative;}
    .subPage .subMenuArea ul li.active a{opacity: 1;}
    .subPage .subMenuArea ul li.active a::after{content: ''; position: absolute; left: 0; bottom: 0px; width: 100%; height: 4px; background-color: #8fcc00; z-index: 1;}
    .subPage section{padding: 110px 0 140px;}
    /* 서브 페이지 서브 타이틀 공통 */
    .subPage section .subTitle{text-align: center; margin-bottom: 30px;}
    .subPage section .subTitle h3{font-size: 64px; font-weight: 700; margin-bottom: 80px;}
    .subPage section .subTitle p{font-size: 26px; font-weight: 500; line-height: 36px; margin-bottom: 30px;}
    .subPage section .subTitle::after{content: '';display: block; width: 4px; height: 25px; background-color: black; transform: rotate(30deg); margin: 0 auto;}
    .subPage section > strong{display: block; font-size: 36px; font-weight: 700; text-align: center; margin:80px 0 50px;}
    .subPage.hireArea section > strong,
    .subPage.questionArea section > strong{font-size: 23px; font-weight: 500; line-height: 36px;}
    .subPage section > p{font-size: 22px; font-weight: 300; line-height: 36px; text-align: center;}
    .subPage section > p:not(:last-of-type){margin-bottom: 50px;}
    .subPage .subContents h4{font-size: 36px; font-weight: 700; text-align: center; margin-bottom: 100px; }
    .subPage .subContents strong{display: block; font-size: 24px; font-weight: 700;}
    .subPage .subContents p{font-size: 22px; font-weight: 300;}
    .subPage .subContents b{font-size: 22px; display: block;  font-weight: 500;}

    /* 서브 페이지 컨텐츠 공통 */
    .subContents{margin-top: 100px;}
    .subContents > *:not(:last-child){margin-bottom: 100px;}

    /* 서브페이지 - 회사 소개 공통 */
    .aboutUsArea .subPageTitle{background-image: url('../images/aboutUsBG.png');}

    /* 서브 페이지 - 제품 소개 공통 */
    .productArea .subPageTitle{background-image: url('../images/productBG.png');}
    .productArea .subPageTitle{height: 100vh;}
    .productArea img{width: 100%;}

    /* 서브 페이지 - R&D 공통 */
    .RnDArea .subPageTitle{background-image: url('../images/R&DBG.png');}
    /* .RnDArea  */.BGColor{background-color: #ededed; padding: 100px 0 120px;}

    /* 서브 페이지 - 인재채용 */
    .hireArea .subPageTitle{background-image: url('../images/hireBG.png');}

    /* 서브 페이지 - 문의 */
    .questionArea .subPageTitle{background-image: url('../images/questionBG.png');}


    /* 회사 소개 - our */
    /* .aboutUsArea .aurArea{padding-top: 100px; border-top: 1px solid rgba(0, 0, 0, 0.2);} */
    .aboutUsArea .aurArea ul li{}
    .aboutUsArea .aurArea ul li::before{content: ''; display: block; height: 480px; left: 0; top: 0; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 60px;}
    .aboutUsArea .aurArea ul li:nth-child(1)::before{background-image: url('../images/aboutUs_our01.png');}
    .aboutUsArea .aurArea ul li:nth-child(2)::before{background-image: url('../images/aboutUs_our02.png');}
    .aboutUsArea .aurArea ul li:nth-child(3)::before{background-image: url('../images/aboutUs_our03.png');}
    .aboutUsArea .aurArea ul li > *{margin: 0 30px;}
    .aboutUsArea .aurArea ul li > strong{font-size: 40px; font-weight: 700; margin-bottom: 20px;}
    .aboutUsArea .aurArea ul li > b{font-size: 26px; font-weight: 500; line-height: 40px; margin-bottom: 50px;}
    .aboutUsArea .aurArea ul li > p{font-size: 26px; font-weight: 300; line-height: 40px;}
    .aboutUsArea .aurArea ul li:not(:last-child){margin-bottom: 80px;}

}